## Lesson 03 â€” Logic, Loops, Syntax, and datatypes

### Readings

* Shaw: Exercises 27-39

### Table of Contents

* [Logic](#Logic)
* [Ranges and Increments](#Ranges-and-Increments)
* [Loops](#Loops)
* [Lists](#Lists)
* [Tuples](#Tuples)
* [Dictionaries](#Dictionaries)
* [Other Types](#Other-types)

### Logic

The truth value (True, False) of statments is an important part of any programming language. In Python, logical values have a special data type called `bool`, named after Boolean logic and its founder George Boole (1815-1864).

#### Boolean Operations: and, or, not

These are the Boolean operations, ordered by ascending priority:

| Operation   |	Result	  |
|-------------|-----------| 
| x or y	  |  if x is false, then y, else x     |  
| x and y	  |  if x is false, then x, else y        |
| not x	      |  if x is false, then True, else False |


#### Comparisons

Comparison operations are supported by all objects. They all have the same priority, which is higher than that of the Boolean operations. Comparisons can be chained arbitrarily; for example, `x < y <= z` is equivalent to `x < y and y <= z`, except that `y` is evaluated only once (but in both cases `z` is not evaluated at all when `x < y` is found to be false).

This table summarizes the comparison operations:

| Operation   | Meaning |
| ------------|-------- |
| <	          | strictly less than	|
| <=	      | less than or equal	|
| >	          | strictly greater than  |
| >=	      | greater than or equal |
| ==	      | equal	 |
| !=	      | not equal |
| is	      | object identity	 |
| is not	  | negated object identity	|

In [1]:
2 == 1 + 1

True

In [2]:
'ab' == 'a' + 'b'

True

In [3]:
(2 == 1 + 1) and ('ab' == 'a' + 'b')

True

In [4]:
(5 > 4) or (2 < 1)

True

In [5]:
5 == 5.0

True

In [6]:
5 is 5.0

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
/var/folders/wf/l1cgt65d4yj59p5x0xd9t7500000gn/T/ipykernel_4368/1873575598.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  5 is 5.0

False

In [7]:
a = 5
b = 5
a is b

True

In [8]:
'aa' is 'aa'

<>:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
/var/folders/wf/l1cgt65d4yj59p5x0xd9t7500000gn/T/ipykernel_4368/3953694590.py:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
  'aa' is 'aa'

True

In [9]:
'aa' != 'bb'

True

In [10]:
type(True)

bool

In [11]:
type(False)

bool

In [12]:
# bool is also a function
bool(0)

False

In [13]:
bool(1)

True

### Ranges and Increments

#### Generating sequential lists of numbers

In [14]:
range(5)

range(0, 5)

In [15]:
list(range(5))

[0, 1, 2, 3, 4]

In [16]:
range(1, 6)

range(1, 6)

In [17]:
list(range(1, 6))

[1, 2, 3, 4, 5]

In [18]:
# you can also go backwards
list(range(6, 1, -1))

[6, 5, 4, 3, 2]

In [19]:
# or skip multiple numbers
even_numbers = list(range(2, 10, 2))
even_numbers

[2, 4, 6, 8]

#### Increment operator

Note: Python does not support the ++ operator from C, C++, and Perl.

In [20]:
i = 1
i = i + 1
i

2

In [21]:
i = 1
i += 1
i

2

In [22]:
j = 2
j = j * 3
j

6

In [23]:
j = 2
j *= 3
j

6

### Loops

Loops and conditional tests are control structures that allow you to control flow through your program.

#### if Tests

```python
if <test1>:                 # if test
    <statements1>           # Associated block
elif <test2>:               # Optional elifs
    <statements2>
else:                       # Optional else
    <statements3>
```

#### while Loops

```python
while <test>:               # Loop test
    <statements1>           # Loop body
else:                       # Optional else
    <statements2>           # Run if didn't exit loop with break

while <test1>:
    <statements1>
    if <test2>: break       # Exit loop now, skip else
    if <test3>: continue    # Go to top of loop now, to test1
else:
    <statements2>           # Run if we didn't hit a 'break'

break     # Jumps out of the closest enclosing loop (past the entire loop statement).
continue  # Jumps to the top of the closest enclosing loop (to the loopâ€™s header line).
pass      # Does nothing at all: itâ€™s an empty statement placeholder.
else      # Runs if and only if the loop is exited normally (i.e., without hitting a break).  
```

#### for Loops

```python
for <target> in <object>:   # Assign object items to target
    <statements>            # Repeated loop body: use target
else:
    <statements>            # If we didn't hit a 'break'

for <target> in <object>:   # Assign object items to target
    <statements>
    if <test>: break        # Exit loop now, skip else
    if <test>: continue     # Go to top of loop now
else:
    <statements>            # If we didn't hit a 'break'
```

#### if

In [24]:
if 1 < 2:
    print("The 'if' statement is true.")

The 'if' statement is true.

In [25]:
if 3 < 2:
    print("The 'if' statement is true.")
else:
    print("The 'if' statement is false.")

The 'if' statement is false.

In [26]:
# indentation matters -- uncomment the code below to see what happens
#if 1 < 2:
#print("The 'if' statement is true.")

#### for

In [27]:
for i in range(5): # same as: for i in [0, 1, 2, 3, 4]
    print(f"i is {i}")

i is 0
i is 1
i is 2
i is 3
i is 4

In [28]:
for i in range(5):
    print(i) # just to monitor where we are
    if i in [1, 2]:
        print("It's 1 or 2.")
    elif i in [3, 4]:
        print("It's 3 or 4.")
    else:
        print("It must be 0.")
        #break # comment this line to get the full output

0
It must be 0.
1
It's 1 or 2.
2
It's 1 or 2.
3
It's 3 or 4.
4
It's 3 or 4.

#### while

In [29]:
j = 0
while j <= 5:
    print(j)
    j += 1 # same as: j = j + 1
    #if j == 4:
        #break
else:
    print('All done.')

0
1
2
3
4
5
All done.

In [30]:
j

6

### Lists

Lists (the `list` object type) is a sequence of items of the same type.

#### List indexing and operations

In [31]:
# a simple list of strings
L = ['alpha', 'bravo', 'charlie']
L

['alpha', 'bravo', 'charlie']

In [32]:
# number of items in the list
len(L)

3

In [33]:
# indexing by position
L[0]

'alpha'

In [34]:
# slicing a list returns a new list
L[:-1]

['alpha', 'bravo']

In [35]:
# concatenation makes a new list too
L + ['delta', 'echo', 'foxtrot']

['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot']

In [36]:
['delta', 'echo', 'foxtrot'] + L

['delta', 'echo', 'foxtrot', 'alpha', 'bravo', 'charlie']

In [37]:
# the original list is unchanged
L

['alpha', 'bravo', 'charlie']

In [38]:
# add object at end of list with append
L.append('romeo') 
L

['alpha', 'bravo', 'charlie', 'romeo']

In [39]:
# delete an item in middle of list with pop
L.pop(2)

'charlie'

In [40]:
# now L is changed
L

['alpha', 'bravo', 'romeo']

In [41]:
# insert a new item with insert
L.insert(2, 'mike')

In [42]:
L

['alpha', 'bravo', 'mike', 'romeo']

In [43]:
# replace an existing item with positional assignment
L[2] = 'tango'

In [44]:
L

['alpha', 'bravo', 'tango', 'romeo']

In [45]:
N = ['bb', 'aa', 'cc']

In [46]:
N

['bb', 'aa', 'cc']

In [47]:
N.sort()

In [48]:
N

['aa', 'bb', 'cc']

In [49]:
N.reverse()

In [50]:
N

['cc', 'bb', 'aa']

In [51]:
'bb' in N

True

#### Nested lists (like matrices)

In [52]:
M = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

In [53]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [54]:
M[1]

[4, 5, 6]

In [55]:
M[1][2]

6

#### List slicing

In [56]:
x = list(range(10))

In [57]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
x[0:5]

[0, 1, 2, 3, 4]

In [59]:
x[:5]

[0, 1, 2, 3, 4]

In [60]:
x[-5:]

[5, 6, 7, 8, 9]

In [61]:
x[2:5]

[2, 3, 4]

#### List comprehension (with for loops)

Example with/without list comprehension

In [62]:
# example without list comprehension
squares = []
for x in [1, 2, 3, 4, 5]:
    squares.append(x ** 2)

In [63]:
squares

[1, 4, 9, 16, 25]

In [64]:
# example with list comprehension
squares = [x ** 2 for x in [1, 2, 3, 4, 5]]

In [65]:
squares

[1, 4, 9, 16, 25]

Example with string instead of list

In [66]:
doubles = [c * 2 for c in 'spam']

In [67]:
doubles

['ss', 'pp', 'aa', 'mm']

Examples with two-dimensional lists

In [68]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [69]:
# collect the items in column 2
col2 = [row[1] for row in M]

In [70]:
col2

[2, 5, 8]

In [71]:
# add 1 to each item in column 2
col2a = [row[1] + 1 for row in M]

In [72]:
col2a

[3, 6, 9]

In [73]:
# filter out odd items
col2b = [row[1] for row in M if row[1] % 2 == 0]

In [74]:
col2b

[2, 8]

In [75]:
# Collect a diagonal from matrix
diag = [M[i][i] for i in [0, 1, 2]]

In [76]:
diag

[1, 5, 9]

### Tuples

Tuples (the `tuple` object type) are similar to lists with two important differences:

1. Tuples are [immutable](https://realpython.com/python-mutable-vs-immutable-types/), meaning they cannot be changed in place or appended to.
2. Tuples can be composed of mixed types of objects, whereas lists should contain a single kind of object.

In [77]:
T = (1, 2, 3, 4)

In [78]:
T

(1, 2, 3, 4)

In [79]:
T[0]

1

In [80]:
len(T)

4

In [81]:
T = T + (5, 6)
T

(1, 2, 3, 4, 5, 6)

In [82]:
# try to assign to a tuple
#T[0] = 2 # uncomment this and run to see what happens

Example on tuples vs. lists:

In [83]:
# here is a list of the same object type
["Bob", "Joe", "John", "Sam"]

['Bob', 'Joe', 'John', 'Sam']

In [84]:
# here is a list of different object types -- DON'T DO THIS
["Billy", "Bob", "Joe", 42]

['Billy', 'Bob', 'Joe', 42]

In [85]:
# use a tuple instead
[("Billy", "Bob", "Joe", 42), ("Robert", "", "Smith", 31)]

[('Billy', 'Bob', 'Joe', 42), ('Robert', '', 'Smith', 31)]

### Dictionaries

Dictionaries or dicts are objects that link keyâ€“value pairs. They can be useful for a variety of applications. `dict` is Python's implementation of the hash table.

In [86]:
# keys and values
D = {'food': 'Spam', 'quantity': 4, 'color': 'pink'}

In [87]:
D

{'food': 'Spam', 'quantity': 4, 'color': 'pink'}

In [88]:
# fetch value of key 'food'
D['food']

'Spam'

In [89]:
D['quantity']

4

In [90]:
# add 1 to 'quantity' value
D['quantity'] += 1

In [91]:
D

{'food': 'Spam', 'quantity': 5, 'color': 'pink'}

In [92]:
D = {} # empty dict: {}, empty string: '', empty list: [], empty tuple: ()

In [93]:
# create keys by assignment
D['name'] = 'Bob'
D['job'] = 'dev'
D['age'] = 40

In [94]:
D

{'name': 'Bob', 'job': 'dev', 'age': 40}

In [95]:
D['name']

'Bob'

In [96]:
# nested dictionaries
rec = {'name': {'first': 'Bob', 'last': 'Smith'}, 
       'job': ['developer', 'manager'],
       'age': 40.5}

In [97]:
rec

{'name': {'first': 'Bob', 'last': 'Smith'},
 'job': ['developer', 'manager'],
 'age': 40.5}

In [98]:
# 'name' is a nested dictionary
rec['name']

{'first': 'Bob', 'last': 'Smith'}

In [99]:
# index the nested dictionary
rec['name']['last']

'Smith'

In [100]:
# 'job' is a nested list
rec['job']

['developer', 'manager']

In [101]:
# index the nested list
rec['job'][-1]

'manager'

In [102]:
# expand the job description in place
rec['job'].append('janitor')

In [103]:
rec

{'name': {'first': 'Bob', 'last': 'Smith'},
 'job': ['developer', 'manager', 'janitor'],
 'age': 40.5}

In [104]:
# sorting keys with for loops
D = {}
D['d'] = 4
D['e'] = 5
D['a'] = 1
D['b'] = 2
D['c'] = 3

In [105]:
D

{'d': 4, 'e': 5, 'a': 1, 'b': 2, 'c': 3}

In [106]:
# iterate over dict keys (note the keys are not guaranteed to be in insertion order)
for key in D:
    print(key, D[key])

d 4
e 5
a 1
b 2
c 3

In [107]:
# iterate over dict key-value pairs and check for a value
for key, value in D.items():
    print(key, value)
    if (value == 5):
        print('Value 5 has Key %s.' % key)

d 4
e 5
Value 5 has Key e.
a 1
b 2
c 3

In [108]:
# iterate over sorted dict keys (sorted alphabetically)
for key in sorted(D):
    print(key, D[key])

a 1
b 2
c 3
d 4
e 5

In [109]:
# combine two lists (or tuples) into dictionary using dict(zip(list1, list2))
keys = ['name', 'job', 'zip_code', 'city']
values = ['Jon', 'student', '92037', 'La Jolla']
d = dict(zip(keys, values))
d

{'name': 'Jon', 'job': 'student', 'zip_code': '92037', 'city': 'La Jolla'}

In [110]:
# dict of dicts with zip
import random

ids = [random.randint(0, 999999) for x in range(5)]

student1 = {'name': 'Adriana', 'year': 'G1', 'major': 'Marine Biology'}
student2 = {'name': 'Bernice', 'year': 'G2', 'major': 'Oceanography'}
student3 = {'name': 'Chelsea', 'year': 'G1', 'major': 'Climate Science'}
student4 = {'name': 'Dorothy', 'year': 'G3', 'major': 'Physics'}
student5 = {'name': 'Eleanor', 'year': 'G1', 'major': 'Business'}

directory = dict(zip(ids, [student1, student2, student3, student4, student5]))

In [111]:
directory

{524896: {'name': 'Adriana', 'year': 'G1', 'major': 'Marine Biology'},
 127503: {'name': 'Bernice', 'year': 'G2', 'major': 'Oceanography'},
 658103: {'name': 'Chelsea', 'year': 'G1', 'major': 'Climate Science'},
 766269: {'name': 'Dorothy', 'year': 'G3', 'major': 'Physics'},
 110868: {'name': 'Eleanor', 'year': 'G1', 'major': 'Business'}}

In [112]:
# check if key is in dict
student_list = ids + [random.randint(0,999999) for x in range(2)]
for student in student_list:
    if student in directory:
        print(student, directory[student]['name'])
    else:
        print(f'{student} is not in the directory')

524896 Adriana
127503 Bernice
658103 Chelsea
766269 Dorothy
110868 Eleanor
352717 is not in the directory
750627 is not in the directory

### Other Types

#### Sets

In [113]:
X = set('spammm')
Y = set(['h', 'a', 'm'])

In [114]:
X

{'a', 'm', 'p', 's'}

In [115]:
Y

{'a', 'h', 'm'}

In [116]:
intersection = X & Y

In [117]:
intersection

{'a', 'm'}

In [118]:
union = X | Y

In [119]:
union

{'a', 'h', 'm', 'p', 's'}

In [120]:
difference = X - Y

In [121]:
difference

{'p', 's'}

In [122]:
type(X)

set

#### Booleans

In [123]:
1 > 2, 1 < 2

(False, True)

In [124]:
bool(0), bool(1)

(False, True)

In [125]:
bool('spam')

True

In [126]:
True or False

True

In [127]:
False + 1

1

In [128]:
True + 1

2

In [129]:
True == 1

True

In [130]:
True is 1

False

In [131]:
False == 0

True

In [132]:
False is 0

False

In [133]:
type(1 > 2)

bool

#### None

In [134]:
X = None

In [135]:
X

In [136]:
print(X)

None

In [137]:
#None + 1 # uncomment this and run to see what happens

In [138]:
type(None)

NoneType

#### datatime objects

In [139]:
from datetime import datetime, date

In [140]:
datetime.today()

datetime.datetime(2025, 9, 8, 22, 40, 18, 772515)

In [141]:
date.today()

datetime.date(2025, 9, 8)

In [142]:
datetime(2025, 10, 1, 10, 0)

datetime.datetime(2025, 10, 1, 10, 0)

In [143]:
date(2025, 10, 1)

datetime.date(2025, 10, 1)

In [144]:
back_to_the_future_release_date = date(1985, 10, 3)
date.today() - back_to_the_future_release_date

datetime.timedelta(days=14585)

#### The `type()` function

In [145]:
type(1)

int

In [146]:
type(1.0)

float

In [147]:
type('1')

str

In [148]:
type([1, 2])

list

In [149]:
type((1, 2))

tuple

In [150]:
type({'a': 1})

dict

In [151]:
type({1, 2})

set

In [152]:
type(True)

bool

In [153]:
type(False)

bool

In [154]:
type(None)

NoneType